<h2>Course Plan: <%= courseplan.name %></h2>
<%= render partial: 'courseplans/courseplan_changes',
           locals: { courseplan: courseplan } %>
<% if courseplan.plan_entries.any? %>
  <%= render partial: 'courseplans/semesters',
             locals: { ordered_courseplan: courseplan.courses_by_semester, courseplan: courseplan }%>
  <%= render partial: 'courseplans/credit_total',
             locals: { courseplan: courseplan } %>
<% else %>
  <p>There don't seem to be any courses in this plan.</p>
<% end %>
<%= render partial: 'courseplans/other_courseplans',
                     object: courseplan,
                     as: 'courseplan' %>