<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Course Chooser', root_path, class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav">
        <% if signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to("(Admin)",'#') if current_user.admin? %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to 'Sign in', signin_path %></li>
        </ul>
        <% end %>
    </div>
  </nav>
</header>